@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;700&family=Nunito&family=Bellota:ital,wght@1,700&display=swap");
@import url("./bulma.css");

/*
    Section: colors
*/
:root {
    --color-white: rgb(255, 255, 255);
    --color-not-quite-black: #333;
    --color-Salt-Water: rgb(204, 237, 239);
    --color-Neptune: rgb(153, 209, 214);
    --color-Aquarelle: rgb(102, 173, 181);
    --color-Teal: rgb(63, 140, 147);
    --color-Calypso: rgb(38, 119, 127);
    --color-Moon-Raker: rgb(234, 226, 249);
    --color-Aster: rgb(198, 183, 237);
    --color-Lavender: rgb(163, 137, 214);
    --color-Violet: rgb(124, 96, 186);
    --color-Royal-Purple: rgb(94, 63, 158);
    --color-Cupid: rgb(249, 192, 201);
    --color-Zinnia: rgb(255, 126, 203);
    --color-Coral: rgb(255, 78, 163);
    --color-Paradise-Pink: rgb(230, 33, 109);
    --color-Blood: rgb(196, 3, 37);
    --color-Martian-Sky: rgb(255, 213, 126);
    --color-Bone: rgb(244, 244, 245);
    --color-Thunder: rgb(35, 31, 32);
}

/*
    Section: global variables
*/
:root {
    /* general typography */
    --font-bellota: "Bellota", cursive;
    --font-overpass: "Overpass", Helvetica, Arial, sans-serif;
    --font-nunito: "Nunito", Arial, "Geneva", sans-serif;
    --letter-spacing-1: 0.05em;
    --letter-spacing-2: 0.1em;
    --display-font: var(--font-overpass);
    --text-font: var(--font-nunito);
    --font-size-base: 16px;
    --font-size-smallest: 0.5rem;
    --font-size-smaller: 0.75rem;
    --font-size-slightly-smaller: 0.9rem;
    --font-size-normal: 1rem;
    --font-size-slightly-larger: 1.25rem;
    --font-size-larger: 1.75rem;
    --font-size-largest: 2rem;

    /* general typography colors */
    --text-color: var(--color-Thunder);
    --text-color-strong: black;
    --header-color: var(--color-Royal-Purple);
    --header-anchor-color: var(--color-Violet);
    --header-anchor-color-hover: var(--color-Aquarelle);

    /* links */
    --link-color: var(--color-Coral);
    --link-decoration: underline var(--color-Coral) solid 1px;
    --link-hover-color: var(--color-Aquarelle);
    --link-hover-decoration: underline var(--color-Teal) solid 1px;
}

/*
    Section: Base styles
*/

html,
body,
input,
optgroup,
select,
textarea {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: var(--font-size-base);
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--display-font);
}

/* Section: Links */

a,
a:focus,
a:hover {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration);
}

a.tags,
a.tags:hover {
    text-decoration: none;
}

a.tags::after,
a.button::after {
    content: none;
}

.navbar a, .navbar a:focus, .navbar a:hover {
    text-decoration: none;
}

/* Section: Buttons */

.button.is-primary, .button.is-primary.is-active {
    background-color: var(--color-Violet);
}

.button.is-primary:hover {
    background-color: var(--color-Aquarelle);
}

a.button.is-static {
    text-decoration: none;
}

/* Section: Page styles */

body::-webkit-scrollbar {
    display: none;
}

body {
    /* height: 100vh; */
    overflow: hidden;
    scrollbar-width: none;
}

.content {
    font-size: 1.2rem;
}

.content img {
    display: block;
    max-width: 60%;
    max-height: 90vh;
    margin: 1rem auto;
}

.content h1, .content h2 {
    color: var(--color-Neptune);
}

.navbar .navbar-brand {
    font-family: var(--font-bellota);
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
}

.navbar.is-primary .navbar-brand > a.navbar-item:hover, .navbar.is-primary .navbar-end > a.navbar-item:hover {
    background-color: var(--color-Zinnia);
}

.hero {
    max-height: 100vh;
}

.hero.is-primary {
    background-color: var(--color-Royal-Purple);
}

.hero .hero-body.is-not-design-loaded {
    flex-direction: column;
    overflow-y: scroll;
}

.example-designs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.example-designs .card {
    flex: 0.5;
}

.example-designs .card figure {
    background-color: slategray;
}

.hero .hero-body.is-design-loaded {
    overflow: auto;
    padding: 0;
    background-color: white;
    color: black;
    align-items: stretch;
}

.gb-preview {
    background-color: slategray;
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.gb-preview-canvas {
    display: block;
    width: 100%;
    flex: 1;
}

.gb-preview-canvas canvas {
    width: 100%;
    height: 100%;
}

.gb-preview-controls {
    display: block;
    min-height: 2.5em;
    margin: 0 0 1rem 0;
}

.gb-side-panel {
    min-height: 100%;
    max-height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.gb-side-panel p {
    margin-bottom: 1.5rem;
}

.gb-side-panel-scroll {
    padding: 1rem;
    overflow: auto;
    scrollbar-width: initial;
    flex: 1;
}

.gb-side-panel-actions {
    text-align: center;
}

.gb-side-panel-actions .button {
    border-radius: 0;
}

.color-button {
    width: 32px;
    height: 32px;
    border: 0px;
    border-radius: 50%;
    margin-right: 0.5rem;
    /* display: inline; */
    --elevation-shadow-color: rgba(180, 180, 180, 0.3);
    box-shadow: -0.2rem -0.2rem 0.4rem rgba(180, 180, 180, 0.2),
        0.1rem 0.15rem 0.15rem var(--elevation-shadow-color),
        0.2rem 0.3rem 0.3rem var(--elevation-shadow-color);
}

.layer-list {
    padding: 0 0;
    border-radius: 0.2em;
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    border: 1px solid #dbdbdb;
}

.layer-list li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 0.2em;
}

.layer-list li span.name {
    flex-grow: 1;
}

.layer-list li .material-symbols-outlined {
    font-size: 1.2rem;
    line-height: 1.5;
}

.layer-list li:last-child {
    border-bottom: none;
}

.layer-list li:hover {
    background-color: var(--color-Salt-Water);
}
